@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Add in the metronic CUSTOM CSS 
  This is the custom CSS that is used in the Metronic theme
*/

/* Metronic Custom CSS */


@layer base {
  :root {
    /* Grays */
    --tw-gray-100: #f9f9f9;
    --tw-gray-200: #f1f1f4;
    --tw-gray-300: #dbdfe9;
    --tw-gray-400: #c4cada;
    --tw-gray-500: #99a1b7;
    --tw-gray-600: #78829d;
    --tw-gray-700: #4b5675;
    --tw-gray-800: #252f4a;
    --tw-gray-900: #071437;

    /* Primary */
    --tw-primary: #1b84ff;
    --tw-primary-active: #056ee9;
    --tw-primary-light: #e9f3ff;
    --tw-primary-clarity: rgba(27, 132, 255, 0.2);
    --tw-primary-inverse: #ffffff;

    /* Success */
    --tw-success: #17c653;
    --tw-success-active: #04b440;
    --tw-success-light: #eafff1;
    --tw-success-clarity: "rgba(23, 198, 83, 0.20)";
    --tw-success-inverse: #ffffff;

    /* Warning */
    --tw-warning: #f6c000;
    --tw-warning-active: #dead00;
    --tw-warning-light: #fff8dd;
    --tw-warning-clarity: rgba(246, 192, 0, 0.2);
    --tw-warning-inverse: #ffffff;

    /* Danger */
    --tw-danger: #f8285a;
    --tw-danger-active: #d81a48;
    --tw-danger-light: #ffeef3;
    --tw-danger-clarity: rgba(248, 40, 90, 0.2);
    --tw-danger-inverse: #fff;

    /* Info */
    --tw-info: #7239ea;
    --tw-info-active: #5014d0;
    --tw-info-light: #f8f5ff;
    --tw-info-clarity: rgba(114, 57, 234, 0.2);
    --tw-info-inverse: #ffffff;

    /* Dark */
    --tw-dark: #1e2129;
    --tw-dark-active: #111318;
    --tw-dark-light: #f9f9f9;
    --tw-dark-clarity: rgba(30, 33, 41, 0.2);
    --tw-dark-inverse: #ffffff;

    /* Secondary */
    --tw-secondary: #f9f9f9;
    --tw-secondary-active: #f9f9f9;
    --tw-secondary-light: #f9f9f9;
    --tw-secondary-clarity: rgba(249, 249, 249, 0.2);
    --tw-secondary-inverse: #4b5675;

    /* Light - LIGHT THEME */
    --tw-light: #FFFFFF;
    --tw-light-active: #FCFCFC;
    --tw-light-light: #FFFFFF;
    --tw-light-clarity: #FFFFFF;
    --tw-light-inverse: #FFFFFF;

    /* Brand */
    --tw-brand: #5a67d8;
    --tw-brand-active: #4c51bf;
    --tw-brand-light: #ebf4ff;
    --tw-brand-clarity: #c3dafe;
    --tw-brand-inverse: #434190;

    /* Coal */
    --tw-coal-100: #15171c;
    --tw-coal-200: #13141a;
    --tw-coal-300: #111217;
    --tw-coal-400: #0f1014;
    --tw-coal-500: #0d0e12;
    --tw-coal-600: #0b0c10;
    --tw-coal-black: #000000;
    --tw-coal-clarity: rgba(24, 25, 31, 0.5);

    /* Light-Dark */
    --tw-dark-light: #4a5568;
    --tw-dark-active-light: #2d3748;
    --tw-dark-light-light: #718096;
    --tw-dark-clarity-light: #a0aec0;
    --tw-dark-inverse-light: #cbd5e0;

    /* Dark-Dark */
    --tw-dark-dark: #1a202c;
    --tw-dark-active-dark: #171923;
    --tw-dark-light-dark: #2d3748;
    --tw-dark-clarity-dark: #4a5568;
    --tw-dark-inverse-dark: #718096;

    /* Box Shadows */
    --tw-card-box-shadow:0px 3px 4px rgba(0, 0, 0, 0.03);
    --tw-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03),
    --tw-primary-box-shadow: 0 4px 14px 0 rgba(66, 153, 225, 0.39);
    --tw-success-box-shadow: 0 4px 14px 0 rgba(72, 187, 120, 0.39);
    --tw-danger-box-shadow: 0px 4px 12px 0px rgba(241, 65, 108, 0.35);
    --tw-info-box-shadow: 0px 4px 12px 0px rgba(114, 57, 234, 0.35);
    --tw-warning-box-shadow: 0px 4px 12px 0px rgba(246, 192, 0, 0.35);
    --tw-dark-box-shadow: 00px 4px 12px 0px rgba(37, 47, 74, 0.35);

    /* Border Radius */
    --radius: 0.5rem; /* Example: 8px */

    /* Accordion Height */
    --radix-accordion-content-height: 200px; /* Adjust as necessary */

    /* Other Variables */
    /* Adjust these spacings, font sizes, line heights, and zIndex as needed based on your design system */
    --spacing-0-75: 0.1875rem; /* Example: 3px */
    --spacing-5-5: 1.375rem; /* Example: 22px */
    --spacing-6-5: 1.625rem; /* Example: 26px */
    --spacing-7-5: 1.875rem; /* Example: 30px */
    --spacing-1-75: 0.4375rem; /* Example: 7px */

    --font-size-4xs: 0.563rem; /* Example: 9px */
    --font-size-3xs: 0.6rem; /* Example: 10px */
    --font-size-2xs: 0.6875rem; /* Example: 11px */
    --font-size-2sm: 0.8125rem; /* Example: 13px */
    --font-size-md: 0.9375rem; /* Example: 15px */
    --font-size-1-5xl: 1.375rem; /* Example: 22px */
    --font-size-2-5xl: 1.625rem; /* Example: 26px */

    --line-height-5-5: 1.375rem; /* Example: 22px */

    --z-index-1: 1;
    --z-index-5: 5;
    --z-index-15: 15;
    --z-index-25: 25;

    /* Border Widths */
    --border-width-3: 3px;
  }

  .dark {
    /* Grays */
    --tw-gray-100: #1B1C22;
    --tw-gray-200: #26272F;
    --tw-gray-300: #363843;
    --tw-gray-400: #464852;
    --tw-gray-500: #636674;
    --tw-gray-600: #808290;
    --tw-gray-700: #9A9CAE;
    --tw-gray-800: #B5B7C8;
    --tw-gray-900: #F5F5F5;

    /* Primary */
    --tw-primary: #006AE6;
    --tw-primary-active: #107EFF;
    --tw-primary-light: #172331;
    --tw-primary-clarity: rgba(0, 106, 230, 0.20);
    --tw-primary-inverse: #ffffff;

    /* Success */
    --tw-success: #00A261;
    --tw-success-active: #01BF73;
    --tw-success-light: #1F2623;
    --tw-success-clarity: rgba(0, 162, 97, 0.20);
    --tw-success-inverse: #ffffff;

    /* Warning */
    --tw-warning: #C59A00;
    --tw-warning-active: #D9AA00;
    --tw-warning-light: #242320;
    --tw-warning-clarity: rgba(197, 154, 0, 0.20);
    --tw-warning-inverse: #ffffff;

    /* Danger */
    --tw-danger: #E42855;
    --tw-danger-active: #FF3767;
    --tw-danger-light: #302024;
    --tw-danger-clarity: rgba(288, 40, 85, 0.2);
    --tw-danger-inverse: #ffffff;

    /* Info */
    --tw-info: #883FFF;
    --tw-info-active: #9E63FF;
    --tw-info-light: #272134;
    --tw-info-clarity: rgba(136, 63, 255, 0.20);
    --tw-info-inverse: #ffffff;

    /* Dark */
    --tw-dark: #272A34;
    --tw-dark-active: #2D2F39;
    --tw-dark-light: #1E2027;
    --tw-dark-clarity: rrgba(39, 42, 52, 0.20);
    --tw-dark-inverse: #ffffff;

    /* Secondary */
    --tw-secondary: #363843;
    --tw-secondary-active: #464852;
    --tw-secondary-light: #363843;
    --tw-secondary-clarity: rgba(249, 249, 249, 0.2);
    --tw-secondary-inverse: #363843;

    /* Light - DARK THEME */
    --tw-light: #1F212A;
    --tw-light-active: #1F212A;
    --tw-light-light: #1E2027;
    --tw-light-clarity: #1F212A;
    --tw-light-inverse: #a0aec0;

    /* Brand */
    --tw-brand: #5a67d8;
    --tw-brand-active: #4c51bf;
    --tw-brand-light: #ebf4ff;
    --tw-brand-clarity: #c3dafe;
    --tw-brand-inverse: #434190;

    /* Coal */
    --tw-coal-100: #15171c;
    --tw-coal-200: #13141a;
    --tw-coal-300: #111217;
    --tw-coal-400: #0f1014;
    --tw-coal-500: #0d0e12;
    --tw-coal-600: #0b0c10;
    --tw-coal-black: #000000;
    --tw-coal-clarity: rgba(24, 25, 31, 0.5);

    /* Light-Dark */
    --tw-dark-light: #1F212A;
    --tw-dark-active-light: #1F212A;
    --tw-dark-light-light: #1E2027;
    --tw-dark-clarity-light: #1F212A;
    --tw-dark-inverse-light: #cbd5e0;

    /* Dark-Dark */
    --tw-dark-dark: #1a202c;
    --tw-dark-active-dark: #171923;
    --tw-dark-light-dark: #2d3748;
    --tw-dark-clarity-dark: #4a5568;
    --tw-dark-inverse-dark: #718096;

    /* Box Shadows */
    --tw-card-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --tw-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --tw-primary-box-shadow: 0 4px 14px 0 rgba(66, 153, 225, 0.39);
    --tw-success-box-shadow: 0 4px 14px 0 rgba(72, 187, 120, 0.39);
    --tw-danger-box-shadow: 0 4px 14px 0 rgba(245, 101, 101, 0.39);
    --tw-info-box-shadow: 0 4px 14px 0 rgba(99, 179, 237, 0.39);
    --tw-warning-box-shadow: 0 4px 14px 0 rgba(237, 137, 54, 0.39);
    --tw-dark-box-shadow: 0 4px 14px 0 rgba(45, 55, 72, 0.39);
  }
  
  /* Remove scrollbar */
  ::-webkit-scrollbar {
    display: none;
  }
}
/* Hide scrollbar for IE, Edge and Firefox */
html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}
@keyframes popper {
  0% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: scale(2) rotate(360deg);  
  }
}

.animate-popper {
  animation: popper 1.5s forwards;
}
 
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease;
}

.animate-fadeOut {
  animation: fadeOut 0.5s ease;
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  li {
    list-style: none;
  }
  li::marker {
    content: '•';
    margin-right: 4px; /* 간격 조정 */
  }
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.bg-animate {
  animation: fadeInOut 2s ease-in-out infinite;
}

p.mmt {
  min-height: 21px;
}
@layer utilities {
  .hexagon {
    @apply w-full h-full;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}