@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    
    
    --light-accent-primary: #00D41D;
    --light-accent-secondary: #DEFFD9;
    
    --light-border-input: #BEC3CA;
    --light-text-secondary: #6B7684;
    
    --accent-primary: #00D41D;
    --accent-on-primary: #FFF;
    --accent-secondary: #DEFFD9;
    --accent-on-secondary: #00D41D;
    
    --background-base: #F7F8F9;
    --background-layer-1: #FEFEFE;
    --background-layer-2: #F6F7F8;
    --background-input-inactive: #A2A9B3;
    
    --text-primary: #101113;
    --text-secondary: #6B7684;
    --text-disabled: #A2A9B3;
    --text-placeholder: #A2A9B3;
    
    --border-div: #EFF0F2;
    --border-input: #BEC3CA;
    --border-input-focus: #00D41D;
    --border-input-error: #FF0000;
    --border-input-disabled: #EFF0F2;
    
    --button-secondary: #EFF0F2;
    --button-secondary-hover: #BEC3CA;
    --button-secondary-disabled: #F6F7F8;
    --button-secondary-pressed: #A2A9B3;
    
    --state-error-primary: #FF3939;
    --state-error-secondary: #FFF4F4;
    --state-success-primary: #0FDB8B;
    --state-success-secondary: #DBFDF0;
    --state-warning-primary: #F59754;
    --state-warning-secondary: #FDEFE5;
    --state-info-primary: #2E94FF;
    --state-info-secondary: #E9F4FF;
    
    
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 64% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    
    
    
    --accent-primary: #00C71B;
    --accent-on-primary: #FEFEFE;
    --accent-secondary: #0B5700;
    --accent-on-secondary: #00C71B;
    
    --background-base: #000000;
    --background-layer-1: #101113;
    --background-layer-2: #1F2226;
    
    --text-primary: #FEFEFE;
    --text-secondary: #6B7684;
    --text-disabled: #8C8E92;
    --text-placeholder: #8C8E92;
    
    --border-div: #2E3339;
    --border-input: #5C6571;
    --border-input-focus: #00D41D;
    --border-input-error: #FF0000;
    --border-input-disabled: 1F2226;
    
    --button-secondary: #454C55;
    --button-secondary-hover: #5C6571;
    --button-secondary-disabled: #1F2226;
    --button-secondary-pressed: #2E3339;
    
    --state-error-primary: #F44336;
    --state-error-secondary: #390000;
    --state-success-primary: #0DBB77;
    --state-success-secondary: #032C1C;
    --state-warning-primary: #F38334;
    --state-warning-secondary: #361803;
    --state-info-primary: #0061C7;
    --state-info-secondary: #00162E;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}
@keyframes popper {
  0% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: scale(2) rotate(360deg);  
  }
}

.animate-popper {
  animation: popper 1.5s forwards;
}

}
 
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease;
}

.animate-fadeOut {
  animation: fadeOut 0.5s ease;
}